<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="admintemplate/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    {{!-- <link href="admintemplate/css/font-awesome.css" rel="stylesheet" /> --}}
    <!-- MORRIS CHART STYLES-->

    <!-- CUSTOM STYLES-->
    <link href="admintemplate/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link href="admintemplate/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">ADMIN PANEL</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> &nbsp; <a href="/admin/logout" class="btn btn-danger square-btn-adjust">Logout</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="admintemplate/img/find_user.png" class="user-image img-responsive" />
                    </li>


                    

                    <li>
                        <a class="active-menu" href="/admin/table"><i class="fa fa-table fa-3x"></i> User Information</a>
                    </li>
                    {{!-- <li>
                        <a href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li> --}}
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>USERS</h2>
                        <h5>You can edit the details here.</h5>

                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-right ">
                        <button class="btn btn-primary  text-right" onclick='window.location.href="/admin/adduserform"'>Add new user</button>
                        </div>
                        <!-- Advanced Tables -->
                        <div class="panel panel-default mt-2">
                            
                            <div class="panel-heading">
                                Advanced Tables
                            </div>
                            
                            
                            <div class="panel-body">
                                
                                <div class="table-responsive">
                                    
                                    <table class="table table-striped table-bordered table-hover"
                                        id="dataTables-example">
                                        
                                        <thead>
                                            <tr>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Password</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each result}}

                                            <tr class="odd gradeX">
                                                <td>{{this.First-name}}</td>
                                                <td>{{this.last-name}}</td>
                                                <td>{{this.email}}</td>
                                                <td>{{this.password}}</td>
                                                <td><i class="fas fa-edit" onclick= "window.location.href='/admin/edit/{{this._id}}'" ></i></td>
                                                <td><i class="fas fa-trash-alt" onclick= "window.location.href='/admin/delete/{{this._id}}'"></i></td>

                                                
                                            </tr>

                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        </div>
                </div>
            </div>
            </div>
            </div>
                        <!--End Advanced Tables -->
                   
    <!-- JQUERY SCRIPTS -->
    <script src="admintemplate/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="admintemplate/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="admintemplate/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="admintemplate/js/dataTables/jquery.dataTables.js"></script>
    <script src="admintemplate/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>


</body>

</html>